# Ignore everything in raw/ (except .gitkeep to keep directory)
data/raw/*
!data/raw/.gitkeep # to keep directory in git

data/processed/*
!data/processed/*subset.parquet #  samples of dataset for minimal-version testing